<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='asset_code.css') }}">
		<Title>Calculate</Title>
	</head>
	<body>
		<header>
			<h1>Spanish Menu Translator</h1>
		</header>
		<div class="mainContentPanel">
			<div id="inputCol">
				<h1>Input Spanish Words Here:</h1>
				<form action="https://espanol-menu-translator.herokuapp.com/predict" method="POST">
					<textarea id="myInput" name="myInput" rows="5" cols="60" name="text" placeholder="Press enter between words"></textarea>
					<!--Button Has to be within the form tag to function-->
					<div id="buttonRow">
						<button type="submit" class=cv_btn>Translate and Calculate</button>
					</div>
				</form>
			</div>
				<div id="outputCol">
			</div>
		</div>

			
			
			<h3>Output: </h3> <pre>{{ outputText }}</pre>

	</body>
</html>
