<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='asset_code.css') }}">
		<Title>Espanol Menu Translator</Title>
	</head>
	<body>
		<header>
			<h1>Spanish Menu Translator</h1>
			<a href="https://github.com/Boneth-joureth/Espanol-Menu-Translator"><img alt="Link to Github" src="{{ url_for('static', filename='img/GitHub-Mark-32px.png') }}" width="32" height="32"></a>
		</header>
		<div class="mainContentPanel">
			<div id="inputCol">
				<h1>Input Spanish Words Here:</h1>
				<form action="/predict" method="POST">
					<textarea id="myInput" name="myInput" name="text" placeholder="Press enter between words"></textarea>
					<!--Button Has to be within the form tag to function-->
					<div id="buttonRow">
						<button type="submit" class=cv_btn>Translate and Calculate</button>
					</div>
				</form>
			</div>
			<div id="outputCol">
				<h3>Output:</h3> <pre>{{ outputText }}</pre>
			</div>
		</div>
	</body>
</html>
