<!DOCTYPE html>

<html lang="en">

<head>

  <title>Hello, world!</title>

  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="description" content="" />

</head>

<body>

  <h1>My test: {{ myWord }}</h1>

<!--  <form action="/form/submit" method="GET">
      <textarea rows="5" cols="60" name="text" placeholder="Enter text"></textarea>
      <br/>
      <input type="submit" value="submit"/>
  </form>-->

  <input type='text'></input>
  <button OnClick={{ Translate() }}/>
</body>

</html>
